extends layout

block content
  h1= title
  p Welcome to #{title}
  - if (moneys)
    table
      tr
        th ID
        th Type
        th Date
        th Category
        th Genre
        th Price
        th Comment
        th Place ID
        th Place
      each money in moneys
        tr
          td= money.id
          td= money.type
          td= money.date
          td= money.category.title
          td= money.genre.title
          td= money.price
          td= money.comment
          td= money.place_id
          td= money.place
  - else
    p
      a(href='/auth') Authrorize